<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Checkout</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="#">Home</a></li>
                    <li class="active">Checkout</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-7 order-details">
                <!-- Billing Details -->
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Registrate</h3>
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="nombre" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="apellido" placeholder="Apellido">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="nombre-usuario"
                            placeholder="Nombre de Usuario, con el iniciarás sesión">
                    </div>
                    <div class="form-group">
                        <input class="input" type="password" name="contrasenia" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <input class="input" type="email" name="email" placeholder="Correo">
                    </div>
                    <div class="form-group">
                        <input class="input" type="date" name="fechanac" placeholder="Fecha Nacimiento">
                    </div>
                    
                    <div class="form-group col-12">
                        <select class="form-control" id="regiones_1899" data-id="1899" name="comuna[region]" placeholder="Region">
                            style="width: 100%; display: none;">
                            <option value="" data-id="">Seleccione Region...</option>
                            <option value="Tarapacá" data-id="01">Tarapacá</option>
                            <option value="Antofagasta" data-id="02">Antofagasta</option>
                            <option value="Atacama" data-id="03">Atacama</option>
                            <option value="Coquimbo" data-id="04">Coquimbo</option>
                            <option value="Valparaíso" data-id="05">Valparaíso</option>
                            <option value="Del Libertador Gral. Bernardo O’Higgins" data-id="06">Del Libertador Gral. Bernardo O’Higgins</option>
                            <option value="Del Maule" data-id="07">Del Maule</option>
                            <option value="Del Biobío" data-id="08">Del Biobío</option>
                            <option value="De la Araucanía" data-id="09">De la Araucanía</option>
                            <option value="De los Lagos" data-id="10">De los Lagos</option>
                            <option value="Aysén del Gral. Carlos Ibáñez del Campo" data-id="11">Aysén del Gral. Carlos Ibáñez del Campo</option>
                            <option value="Magallanes y de la Antártica Chilena" data-id="12">Magallanes y de la Antártica Chilena</option>
                            <option value="Metropolitana de Santiago" data-id="13">Metropolitana de Santiago</option>
                            <option value="De los Ríos" data-id="14">De los Ríos</option>
                            <option value="Arica y Parinacota" data-id="15">Arica y Parinacota</option>
                            <option value="Ñuble" data-id="16">Ñuble</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <input class="input" type="text" name="comuna" placeholder="Comuna">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="direccion" placeholder="Direccion">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="genero" placeholder="Genero">
                    </div>
                    <div class="form-group">
                        <input class="input" type="tel" name="telefono" placeholder="Telefono">
                    </div>
                    <div class="form-group">
                        <div class="input-checkbox text-center">
                            <input type="checkbox" id="create-account">
                            <button class="primary-btn" type="submit">Registrate</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Inicia Sesion</h3>
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="nombre-usuario" placeholder="Nombre Usuario">
                </div>
                <div class="form-group">
                    <input class="input" type="password" name="contrasenia" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <div class="input-checkbox text-center">
                        <input type="checkbox" id="create-account">
                        <button class="primary-btn" type="submit">Iniciar Sesion</button>
                    </div>
                </div>
                <hr>
                <br>
                <br>
                <div class="text-center">
                    <img src="../assets/logo.jpeg" alt="imagen" class="img-thumbnail">
                </div>

            </div>
        </div>
    </div>
</div>