<body>
	<!-- Categoria-->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb-tree">
						<li><a href="#">{{categoria}}</a></li>
						<li><a href="#">{{subcategoria}}</a></li>

					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- Seccion de imagen del producto -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- Product main img -->
				<div class="col">
					<div id="product-main-img">
						<div class="product-preview">
							<img src={{imagen}} alt="">
						</div>
					</div>
				</div>

				<!-- Seccion de la columna de la descripcion del producto-->

				<div class="col-md-5">
					<div class="detalles-del-producto">
						<h1 class="nombredel-producto">{{nombre}}</h1>
						<hr>
						<p class="font-italic">{{fechastring}}</p>
						<div>

						</div>
						<div>
							<span class="product-available">Disponible</span>
						</div>
						<h3>Descripcion</h3>
						<p>{{descripcion}}</p>
						<p>{{valorReferencia}}</p>
						<fieldset class="vip-shipping-method " data-component="shippingRow">
							<article class="shipment-methods ">
								<div data-block="shipping-detail" class="">
									<span class=" black">Entrega a acordar con el vendedor</span>
									<p class=" gray">{{ubicacion}}</p>
								</div>
							</article>
						</fieldset>
						<div *ngIf="!bnregistro">
							<button *ngIf="!SHOW12" (click)="Trocar()"type="button" class="btn btn-outline-danger"style="
							margin-right: 10px;
							margin-top: 10px;
						"><i class="fa fa-handshake-o"></i>
								Permutar</button>
								<i *ngIf="SHOW12" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
								
							<button *ngIf="!SHOW1"(click)="reportProducto()" class="btn btn-outline-warning" style="margin-top: 10px; margin-right: 10px;"><i
									class="fa fa-exclamation-triangle bigicon"></i></button>
									<i *ngIf="SHOW1" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
									<i *ngIf="SHOW123" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
							<button *ngIf="!SHOW123" (click)="corazon()" class="btn btn-outline-dark" style="margin-top: 10px;"><i
								(click)="corazon()" class="fa fa-heart-o"></i></button>
							<button *ngIf="deletethis" (click)="delete()" class="btn btn-outline-info" style="margin-top: 10px;margin-left: 10px;"><i
									(click)="delete()" class="fa fa-trash"></i></button>
						</div>
						<div *ngIf="bnregistro" style="text-align: center;">
							<p>Registrate para trocar</p>
							<button class="primary-btn" style="margin: 5px;" type="submit" (click)="irRegistro()" >
								Registrarse </button>
						</div>
						
						<br />

						<br />



						<ul class="product-links">
							<li>Categorias:</li>
							<li><a href="#">{{categoria}} /</a></li>
							<li><a href="#">{{subcategoria}}</a></li>

						</ul>

					</div>
				</div>
			</div>
			<br>
			<!-- Product tab -->
			<div class="col-md-12">

				<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">

					<li class="nav-item" role="presentation">
						<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
							aria-controls="home" aria-selected="true">Chat</a>
					</li>
				</ul>

				<div class="tab-content" id="myTabContent">


					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="row">
							<div class="col-3">
								<br />
							</div>
							<div class="col-6">
								<br />
								<ul *ngFor="let chatM of chat">
									<li>
										<h3>[{{ chatM.nomUser }}] - {{ chatM.mensaje }} <a (click)="reportChat(chatM.id)">(Reportar)</a><a *ngIf="borrarMM"(click)="borrarMensaje(chatM.id)"></a><a *ngIf="respuestaDM" (click)="responderM(chatM.id)">(Responder)</a></h3>
										

										<div *ngIf="escrituraDM">
											<textarea class="input" id="output" [(ngModel)]="contenta" name="content"
												placeholder="Comentario"></textarea>
											<button class="primary-btn" type="submit" value="Add a Post"
												(click)="addPost()">Enviar</button>
										</div>
									</li>
								</ul>

								<div *ngIf="mensaje">
									<textarea class="input" [(ngModel)]="content" name="content"
										placeholder="Comentario"></textarea>
										<i *ngIf="!show3" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
									<button *ngIf="show3" class="primary-btn" type="submit" value="Add a Post"
										(click)="addPost()">Enviar</button>
									<button class="primary-btn" type="submit" (click)="refrescar()">
										Refrescar Chat </button>
								</div>
								<div *ngIf="bnregistro" style="text-align: center;">
									<p>Registrate para comentar</p>
									<button class="primary-btn" style="margin: 10px;" type="submit" (click)="irRegistro()" >
										Registrarse </button>
										<button class="primary-btn" type="submit" style="margin: 10px;"(click)="irRegistro()">
											Iniciar sesion </button>
											<br/>

									<button class="primary-btn" type="submit" style="margin: 10px;" (click)="refrescar()">
										Refrescar Chat </button>
								</div>

							</div>
							<div class="col-3">
								<br />

							</div>
							<!-- /Review Form -->
						</div>
					</div>
				</div>
			</div>
			<!-- /product tab content  -->
		</div>
		<!-- /product tab -->
	</div>
	<!-- /row -->

	<!-- /SECTION -->


	<!-- Section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<hr>
			<div class="row">

				<div class="col-md-12">
					<div class="section-title text-center">
						<h3 class="title">Productos Relacionados</h3>
					</div>
				</div>

				<!-- product -->
				<div class="col-3" *ngFor='let top1 of top4'>
					<div class="product">
						<div class="product-img">
							<img src={{top1.imagen}} alt="300px" (click)="select(top1.idP)">

						</div>
						<div class="product-body">
							<p class="product-category">{{top1.subcategoria}}</p>
							<h3 class="product-name"><a href="#">{{top1.nombre}}
									<small>{{top1.uso}}</small></a></h3>
							<h3 class="product-description">{{top1.descripcion}}</h3>
							<h6 class="product-price"> {{top1.valorReferencia}} <small> Precio Ref:</small></h6>

							<div class="product-btns">
								<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
										class="tooltipp">Agregar
										a la lista</span></button>
								<button class="add-to-compare"><i class="fa fa-share"></i><span
										class="tooltipp">Compartir</span></button>
								<button class="quick-view"><i class="fa fa-eye"></i><span
										class="tooltipp">Ver</span></button>
							</div>
						</div>
						<div style="text-align: center;">
							<button class="btn btn-outline-danger" (click)="select(top1.idP)"><i
									class="fa fa-exchange"></i>
								Permutar</button>
						</div>
					</div>
				</div>
				<!-- /product -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /Section -->

	<script>
		$(function () {
			$('#myTab li:last-child a').tab('show')
		})
	</script>


</body>