<body>
	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb-tree">
						<li><a href="#">Home</a></li>
						<li><a href="#">Hogar y Accesorios </a></li>
						<li><a href="#">Muebleria</a></li>
						<li class="active">Muebles de Cocina</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- Seccion de imagen del producto -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- Product main img -->
				<div class="col">
					<div id="product-main-img">
						<div class="product-preview">
							<img src="../../../assets/hogar.jpg" alt="">
						</div>
					</div>
				</div>

				<!-- Seccion de la columna de la descripcion del producto-->
	
				<div class="col-md-5">
					<div class="detalles-del-producto">
						<h1 class="nombredel-producto">Mueble de Cocina</h1>
						<hr>
						<p class="font-italic">Publicado: {{fecha}} </p>
						<div>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
							</div>
						</div>
						<div>
							<span class="product-available">Disponible</span>
						</div>
						<h3>Descripcion</h3>
						<p>{{descripcion}}</p>
						<p>{{valor}}</p>
						<fieldset class="vip-shipping-method " data-component="shippingRow">
							<article class="shipment-methods ">
								<div data-block="shipping-detail" class="">
									<span class=" black">Entrega a acordar con el vendedor</span>
									<p class=" gray">Maipú, RM (Metropolitana)</p>
								</div>
							</article>
						</fieldset>
						<div class="dropdown">
							<a class="btn btn-outline-danger dropdown-toggle" href="#" role="button"
								id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Enviar Correo a Trocador
							</a>

							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="#">correo@gmail.com</a>
							</div>
							<button type="button" class="btn btn-outline-danger">Permutar</button>
						</div>
						<br />
						<ul class="product-links">
							<li>Categorias:</li>
							<li><a href="#">Hogar y Accesorios</a></li>
							<li><a href="#">Cocina</a></li>
							<li><a href="#">Muebleria</a></li>
						</ul>

						<ul class="product-links">
							<li>Compartir:</li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<br>
			<!-- Product tab -->
			<div class="col-md-12">

				<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
							aria-controls="home" aria-selected="true">Descripcion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
							aria-controls="profile" aria-selected="false">Especificaciones</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
							aria-controls="contact" aria-selected="false">Contacto</a>
					</li>
				</ul>

				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="row">
							<div class="col-md-12">
								<p>Realizo trueque de Mueble Cocina en excelente estado, su precio aprox. 75.000
									Se cambia por Rack para Tv, entrego en cualquier comuna de Santiago, con un pequeño
									recargo por la bencina, gracias.
								</p>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<div class="row">
							<div class="col-md-12">
								<p>Mueble Cocina, Manufactura Chilena, Madera de cedro, color oscuro 8 puertas y tres
									cajones,Dimensiones:Alto: 1.90 cm
									Fondo: 50 cm
									Largo: 3.20 metros.
								</p>
							</div>
						</div>
					</div>

					<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
						<div class="row">
							<div class="col-3">

							</div>

							<div *ngIf="showComent" class="col-6">
								<span>User</span>
								<p>Lo cambia por un play 2?</p>
								<p>{{resp}}</p>
								<div *ngIf="!show">
									<textarea class="input" placeholder="Respuesta" [(ngModel)]="respuesta"></textarea>

								</div>
								<button (click)="Responder();">Responder</button>

							</div>

							<div class="col-3">
								<div id="review-form">
									<input class="input" type="text" placeholder="Nombre" [(ngModel)]="nombre">
									<input class="input" type="email" placeholder="Email" [(ngModel)]="correo">
									<textarea class="input" placeholder="Comentario" [(ngModel)]="coment"></textarea>
									<div class="input-rating"></div>
									<button class="primary-btn" (click)="Enviar();">Enviar</button>
								</div>
							</div>
							<!-- /Review Form -->
						</div>
					</div>
				</div>
			</div>
			<!-- /product tab content  -->
		</div>
		<!-- /product tab -->
	</div>
	<!-- /row -->

	<!-- /SECTION -->
	

	<!-- Section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row --><hr>
			<div class="row">

				<div class="col-md-12">
					<div class="section-title text-center">
						<h3 class="title">Productos Relacionados</h3>
					</div>
				</div>

				<!-- product -->
				<div class="col-md-3 col-xs-6">
					<div class="product">
						<div class="product-img">
							<img src="http://localhost:4200/assets/Lineablanca.jpg" alt="">

						</div>
						<div class="product-body">
							<p class="product-category">Electrodomesticos</p>
							<h3 class="product-name"><a href="#">Secadora en buen estado</a></h3>
							<h4 class="product-price"> <del class="product-old-price"> </del></h4>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="product-btns">
								<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
										class="tooltipp">Agregar a la lista</span></button>
								<button class="add-to-compare"><i class="fa fa-share"></i><span
										class="tooltipp">Compartir</span></button>
								<button class="quick-view"><i class="fa fa-eye"></i><span
										class="tooltipp">Ver</span></button>
							</div>
						</div>
						<div class="add-to-cart">
							<button class="add-to-cart-btn"><i class="fa fa-exchange"></i> Permutar</button>
						</div>
					</div>
				</div>
				<!-- /product -->

				<!-- product -->
				<div class="col-md-3 col-xs-6">
					<div class="product">
						<div class="product-img">
							<img src="http://localhost:4200/assets/notebook.jpg" alt="">

						</div>
						<div class="product-body">
							<p class="product-category">Notebook</p>
							<h3 class="product-name"><a href="#">Procesador Intel-Inside 4Gb RAM Detalles Esteticos</a>
							</h3>
							<h4 class="product-price"> <del class="product-old-price"> </del></h4>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="product-btns">
								<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
										class="tooltipp">Agregar a la lista</span></button>
								<button class="add-to-compare"><i class="fa fa-share"></i><span
										class="tooltipp">Compartir</span></button>
								<button class="quick-view"><i class="fa fa-eye"></i><span
										class="tooltipp">Ver</span></button>
							</div>
						</div>
						<div class="add-to-cart">
							<button class="add-to-cart-btn"><i class="fa fa-exchange"></i> Permutar</button>
						</div>
					</div>
				</div>
				<!-- /product -->

				<div class="clearfix visible-sm visible-xs"></div>

				<!-- product -->
				<div class="col-md-3 col-xs-6">
					<div class="product">
						<div class="product-img">
							<img src="http://localhost:4200/assets/hogar.jpg" alt="">
						</div>
						<div class="product-body">
							<p class="product-category">Hogar</p>
							<h3 class="product-name"><a href="#">Mueble de cocina - Se cambia por Rack para TV</a></h3>
							<h4 class="product-price"> <del class="product-old-price"> </del></h4>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
							</div>
							<div class="product-btns">
								<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
										class="tooltipp">Agregar a la lista</span></button>
								<button class="add-to-compare"><i class="fa fa-share"></i><span
										class="tooltipp">Compartir</span></button>
								<button class="quick-view"><i class="fa fa-eye"></i><span
										class="tooltipp">Ver</span></button>
							</div>
						</div>
						<div class="add-to-cart">
							<button class="add-to-cart-btn"><i class="fa fa-exchange"></i> Permutar</button>
						</div>
					</div>
				</div>
				<!-- /product -->

				<!-- product -->
				<div class="col-md-3 col-xs-6">
					<div class="product">
						<div class="product-img">
							<img src="https://http2.mlstatic.com/ps4-slim-1tb-D_NQ_NP_855402-MLC43291297612_082020-V.webp"
								alt="">
						</div>
						<div class="product-body">
							<p class="product-category">Consola</p>
							<h3 class="product-name"><a href="#">Consola PlayStation PS4 Slim 1tb</a></h3>
							<h4 class="product-price"> <del class="product-old-price"></del></h4>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
							</div>
							<div class="product-btns">
								<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
										class="tooltipp">Agregar a la lista</span></button>
								<button class="add-to-compare"><i class="fa fa-share"></i><span
										class="tooltipp">Compartir</span></button>
								<button class="quick-view"><i class="fa fa-eye"></i><span
										class="tooltipp">Ver</span></button>
							</div>
						</div>
						<div class="add-to-cart">
							<button class="add-to-cart-btn"><i class="fa fa-exchange"></i> Permutar</button>
						</div>
					</div>
				</div>
				<!-- /product -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /Section -->

	<script>
		$(function () {
			$('#myTab li:last-child a').tab('show')
		})
	</script>


</body>