<div class="container">
	<div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="{{foto}}" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{nombre}}
						<br />
						{{fechanac}}
					</div>
					<div class="profile-usertitle-job">
						{{comuna}}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-warning btn-sm" (click)="ayuda()">Ayuda</button>
					<button type="button" class="btn btn-danger btn-sm" (click)="borrar();">Borrar Cuenta</button>
					
					<button type="button" style="margin-top: 10px ;" class="btn btn-success btn-sm" (click)="ingresoP();">Ingresar Producto</button>
				</div>

			</div>
		</div>
		<div class="col-9">

			<ul class="nav nav-tabs " id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#info" role="tab"
						aria-controls="home" aria-selected="true">Tu info.</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#objetosPermutados" role="tab"
						aria-controls="profile" aria-selected="false">Objetos Permutados</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-toggle="tab" href="#tusObjetos" role="tab"
						aria-controls="contact" aria-selected="false">Favoritos</a>
				</li>
				<li class="nav-report">
					<a class="nav-link" id="report-tab" data-toggle="tab" href="#tusReportes" role="tab"
						aria-controls="Report" aria-selected="false">Reportes</a>
				</li>
			</ul>

			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="home-tab">
					<div class="row">
						<div class="col-12">
							<br />
							<div class="row">
								<div class="col-3"></div>
								<div class="col-6">
									<div class="form-group">
										<input class="input" value={{nombrebd}} type="text" 
											placeholder="Nombre"  [(ngModel)]="usuarioLog.nombre">
									</div>
									<div class="form-group">
										<input class="input" value={{apellidobd}} type="text" 
											placeholder="Apellido"  [(ngModel)]="usuarioLog.apellido">
									</div>
									<div class="form-group">
										<input class="input" value={{nomusuario}} type="text" 
											placeholder="Nombre de Usuario"  [(ngModel)]="usuarioLog.nomusuario">
									</div>
									<div class="form-group">
										<input class="input" value={{password}} type="password"
											placeholder="Contraseña"  [(ngModel)]="usuarioLog.password" >
									</div>
									<div class="form-group">
										<input class="input" value={{correo}} type="email" 
											placeholder="Correo"  [(ngModel)]="usuarioLog.correo">
									</div>
									<div class="form-group">
										<input class="input" value ={{fechaNacimiento}} 
											placeholder="Fecha Nacimiento"  [(ngModel)]="fechaNacimiento">
									</div>

									<div class="form-group">
										<input class="input" value={{region}}  placeholder="Region"  [(ngModel)]="usuarioLog.region">
									</div>

									<div class="form-group">
										<input class="input" value={{comuna}} type="text" 
											placeholder="Comuna"  [(ngModel)]="usuarioLog.comuna">
									</div>
									<div class="form-group">
										<input class="input" value={{direccion}} type="text" 
											placeholder="Direccion"  [(ngModel)]="usuarioLog.direccion">
									</div>
									<div class="form-group">
										<input class="input" value={{genero}} type="text" 
											placeholder="Genero"  [(ngModel)]="usuarioLog.genero">
									</div>
									<div class="form-group">
										<input class="input" value={{fono}} type="tel" 
											placeholder="Telefono" [(ngModel)]="usuarioLog.fono">
									</div>
									<div class="container">
										<span>Cambiar Imagen</span>
										<input type="file" class="form-control-file" id="imagenUp" onchange="toBase64()">
										<div id="imagenModel" [(ngModel)]="usuarioLog.foto" readonly="readonly" style="display: none;"></div>
									</div>
									<br/>
									<div class="form-group">
										<div class="input-checkbox text-center">
											<input type="checkbox" id="create-account">
											<i *ngIf="register" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
											<button class="primary-btn" type="submit"
												(click)="update()">Cambiar</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="objetosPermutados" role="tabpanel" aria-labelledby="profile-tab">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4 col-xs-6">
									<div class="product">
										<div class="product-img">
											<img src="https://http2.mlstatic.com/D_NQ_NP_727032-MLC43344620840_092020-V.webp"
												alt="">

										</div>
										<div class="product-body">
											<p class="product-category">Notebook</p>
											<h3 class="product-name"><a href="#">Notebook Gamer Acer Nitro 5
													<small>(Usado)</small></a></h3>
											<h4 class="product-price"> <del class="product-old-price"></del></h4>
										</div>

									</div>
								</div>
								<!-- /product -->

								<div class="clearfix visible-sm visible-xs"></div>

								<!-- product -->
								<div class="col-md-4 col-xs-6">
									<div class="product">
										<div class="product-img">
											<img src="https://http2.mlstatic.com/camara-canon-80-d-D_NQ_NP_618920-MLC42259430802_062020-V.webp"
												alt="">

										</div>
										<div class="product-body">
											<p class="product-category">Camara</p>
											<h3 class="product-name"><a href="#">CAMARA CANON 80D
													<small>(Usado)</small></a>
											</h3>
											<h4 class="product-price"> <del class="product-old-price"></del></h4>


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="tusObjetos" role="tabpanel" aria-labelledby="contact-tab">
					<div class="row">
						<div class="col-md-4 col-xs-6" *ngFor='let productoA1 of productosFavList'>
                            <div class="product">
                                <div class="product-img">
                                    <img src={{productoA1.imagen}} alt="">

                                </div>
                                <div class="product-body">
                                    <p class="product-category">{{productoA1.subcategoria}}</p>
                                    <h3 class="product-name"><a href="#">{{productoA1.nombre}}
                                            <small>{{productoA1.uso}}</small></a></h3>
                                    <h3 class="product-description">{{productoA1.descripcion}}</h3>
                                    <h6 class="product-price"> {{productoA1.valorReferencia}} <small> Precio Ref:</small>
                                    </h6>

                                    <div class="product-btns">
                                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                                                class="tooltipp">Agregar a la lista</span></button>
                                        <button class="quick-view"><i class="fa fa-eye"></i><span
                                                class="tooltipp">Ver</span></button>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn" [routerLink]="'/Producto'"
                                        (click)="select(productoA1.idP)"><i class="fa fa-exchange"></i> Ir a Permutar</button>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
				<div class="tab-pane fade" id="tusReportes" role="tabpanel" aria-labelledby="contact-tab">
					<div class="row">
						<div class="col-md-4 col-xs-6">
							<div class="alert alert-danger" role="alert">
								Comentario
							  </div>
							<table mat-table style="padding: 30px;" [dataSource]="comentarios">
								<mat-text-column name="id"></mat-text-column>
								<mat-text-column name="id_usuario"></mat-text-column>
								<mat-text-column name="fecha"></mat-text-column>
								<mat-text-column name="comentario"></mat-text-column>
								<mat-text-column name="correo"></mat-text-column>
								<mat-text-column name="nombre"></mat-text-column>
								<mat-text-column name="tipo"></mat-text-column>
								<ng-container matColumnDef="botonera">
									<mat-header-cell *matHeaderCellDef></mat-header-cell>
									<mat-cell *matCellDef="let row">
										<Button  class="btn btn-danger" (click)="borrarC(row.id);">Borrar Reporte</Button>
							
									</mat-cell>
								</ng-container>
								<tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
								<tr mat-row *matRowDef="let row; columns:columnasTabla"></tr>
							</table>
							<div class="alert alert-danger" role="alert">
								Producto
							  </div>
							<table mat-table style="padding: 30px;" [dataSource]="productos">
								<mat-text-column name="id"></mat-text-column>
								<mat-text-column name="id_usuario"></mat-text-column>
								<mat-text-column name="fecha"></mat-text-column>
								<mat-text-column name="comentario"></mat-text-column>
								<mat-text-column name="correo"></mat-text-column>
								<mat-text-column name="nombre"></mat-text-column>
								<mat-text-column name="tipo"></mat-text-column>
								<ng-container matColumnDef="botonera">
									<mat-header-cell *matHeaderCellDef></mat-header-cell>
									<mat-cell *matCellDef="let row">
										<Button  class="btn btn-danger" (click)="borrarP(row.id);">Borrar Reporte</Button>
							
									</mat-cell>
								</ng-container>
								<tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
								<tr mat-row *matRowDef="let row; columns:columnasTabla"></tr>
							</table>
							<div class="alert alert-danger" role="alert">
								Ayuda
							  </div>
							<table mat-table style="padding: 30px;" [dataSource]="ayudas">
								<mat-text-column name="id"></mat-text-column>
								<mat-text-column name="id_usuario"></mat-text-column>
								<mat-text-column name="fecha"></mat-text-column>
								<mat-text-column name="comentario"></mat-text-column>
								<mat-text-column name="correo"></mat-text-column>
								<mat-text-column name="nombre"></mat-text-column>
								<mat-text-column name="tipo"></mat-text-column>
								<ng-container matColumnDef="botonera">
									<mat-header-cell *matHeaderCellDef></mat-header-cell>
									<mat-cell *matCellDef="let row">
										<Button  class="btn btn-danger" (click)="borrarA(row.id);">Borrar Reporte</Button>
							
									</mat-cell>
								</ng-container>
								<tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
								<tr mat-row *matRowDef="let row; columns:columnasTabla"></tr>
							</table>
							
							<!-- /Review Form -->
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<br>
	<br>
	