.parrafo{
    font-size: 20px;
}
.acerca{
    color: white;
    background-color: #D10024;
}
.buttonSlide{
    border-radius: 1000px;
    align:right;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
  position: absolute; 
  
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
  position: absolute; 
  
}
.carousel-indicators {
    color: red;
    position: absolute; 
  
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  
  background-size: 100%, 100%;
  background-image: none;
  color: red;
}
.carousel-control.left , .carousel-control.right
{
  background-image: none !important;
}