<div class="row bg-img-hero">
    <div class="container">
        <div class="row" style="padding: 50px;">
            <div class="col-12 col-xl-6 pr-4 mb-4">
                <img (click)="pagina()" src="https://cdn.digital.gob.cl/filer_public/d6/8e/d68e2515-80e9-4706-8950-0b8322eb7568/logo-hero.png"
                    alt="logo plan de accion coronavirus covid-19" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-12 col-xl-6 pr-4">
                <h2 (click)="pagina()">#NosCuidamosEntreTodos<br><b>Recuerda realizar los trueques con todas las medidas de higiene y  protección para evitar
                        contagios.</b></h2>
            </div>
        </div>
    </div>
</div>
<nav class="class=navbar navbar-expand-lg">
    <div class="container">
        <div id="responsive-nav">
            <ul class="main-nav nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#tab1">Recientemente agregado</a></li>
                <li><a href="#tab2">Acerca de Nosotros</a></li>
                <li><a href="#tab3">Suscribete</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container ">
    <div class="row">
        <div class="col-md-4 ">
            <div class="shop">
                <div class="shop-img">
                    <img src="./assets/notebook.jpg" alt="imagen" class="img-thumbnail">
                </div>
                <div class="shop-body">
                    <h3>TecnologÍa</h3>
                    <a (click)="tecnologia()"  [routerLink]="'/MenuProductos'" class="cta-btn" >Ingresa Aquí <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="shop">
                <div class="shop-img">
                    <img src="./assets/hogar.jpg" alt="imagen" class="img-thumbnail">
                </div>
                <div class="shop-body">
                    <h3>Hogar</h3>
                    <a (click)="hogar()"  [routerLink]="'/MenuProductos'" class="cta-btn" >Ingresa Aquí <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="shop">
                <div class="shop-img">
                    <img src="./assets/Lineablanca.jpg" alt="imagen" class="img-thumbnail">
                </div>
                <div class="shop-body">
                    <h3>Electrodomésticos</h3>
                    <a (click)="electr()"  [routerLink]="'/MenuProductos'"  class="cta-btn">Ingresa Aquí<i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id= "tab1"class="section-title" >
                    <h1>Recientemente agregado</h1>
                </div>
            </div>
        </div>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <!-- product -->
                        <div class="col-3" *ngFor='let top1 of top4'>
                            <div class="product">
                                <div class="product-img">
                                    <img src={{top1.imagen}} alt="300px" (click)="select(top1.idP)">

                                </div>
                                <div class="product-body">
                                    <p class="product-category">{{top1.subcategoria}}</p>
                                    <h3 class="product-name"><a href="#">{{top1.nombre}}
                                            <small>{{top1.uso}}</small></a></h3>
                                    <h3 class="product-description">{{top1.descripcion}}</h3>
                                    <h6 class="product-price"> {{top1.valorReferencia}} <small> Precio Ref:</small></h6>

                                    <div class="product-btns">
                                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                                                class="tooltipp">Agregar
                                                a la lista</span></button>
                                        <button class="add-to-compare"><i class="fa fa-share"></i><span
                                                class="tooltipp">Compartir</span></button>
                                        <button class="quick-view"><i class="fa fa-eye"></i><span
                                                class="tooltipp">Ver</span></button>
                                    </div>
                                </div>
                                <div style="text-align: center;">
                                    <button class="btn btn-outline-danger" [routerLink]="'/Producto'" (click)="select(top1.idP)"><i class="fa fa-exchange"></i>
                                        Permutar</button>
                                </div>
                            </div>
                        </div>
                        <!-- /product -->



                        <div class="clearfix visible-sm visible-xs"></div>


                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <!-- product -->
                        <div class="col-3" *ngFor='let top2 of top8'>
                            <div class="product">
                                <div class="product-img">  
                                    <img src={{top2.imagen}} alt="300px" (click)="select(top2.idP)" >

                                </div>
                                <div class="product-body">
                                    <p class="product-category">{{top2.subcategoria}}</p>
                                    <h3 class="product-name"><a href="#">{{top2.nombre}}
                                            <small>{{top2.uso}}</small></a></h3>
                                    <h3 class="product-description">{{top2.descripcion}}</h3>
                                    <h6 class="product-price"> {{top2.valorReferencia}} <small> Precio Ref:</small></h6>

                                    <div class="product-btns">
                                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                                                class="tooltipp">Agregar
                                                a la lista</span></button>
                                        <button class="add-to-compare"><i class="fa fa-share"></i><span
                                                class="tooltipp">Compartir</span></button>
                                        <button class="quick-view"><i class="fa fa-eye"></i><span
                                                class="tooltipp">Ver</span></button>
                                    </div>
                                </div>
                                <div style="text-align: center;">
                                    <button class="btn btn-outline-danger"  [routerLink]="'/Producto'" (click)="select(top2.idP)"><i class="fa fa-exchange"></i>
                                        Permutar</button>
                                </div>
                            </div>
                        </div>
                        <!-- /product -->



                        <div class="clearfix visible-sm visible-xs"></div>


                    </div>
                    <div class="row"></div>
                </div>
            </div>

        </div>
        <div>
            <div style="text-align: center;">
                <button style="margin-right:500px ; border-radius: 1000px;" class="btn btn-outline-danger "
                    href="#carouselExampleControls" role="button" data-slide="prev"><i class="fa fa-arrow-left"
                        aria-hidden="true"></i></button>
                <button style="margin-left:500px ;  border-radius: 1000px;" class="btn btn-outline-danger "
                    href="#carouselExampleControls" role="button" data-slide="next"><i class="fa fa-arrow-right"
                        aria-hidden="true"></i></button>
            </div>
        </div>
    </div>

</div>

<br>

<br>
<div class="acerca">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1 id="tab2" class="text-monospace text-white">Acerca de nosotros</h1>
                        <hr>
                        <div class="parrafo">
                            <p class="font-italic">En Trueques Galaxys, encontraras una plataforma web muy sencilla de utilizar. Para quienes tienen el deseo de intercambiar productos, sin dinero de por medio. Podrás publicar tu anuncio con un precio referencial al producto y especificar que esperas a cambio para realizar el trueque. 
                                Puedes publicar tu anuncio de cualquier parte de Chile.  Recuerda siempre respetar el distanciamiento social y utilizar todos los métodos de prevención en esta Pandemia. 
                                Nuestro Compromiso es ayudar a nuestro medioambiente de la contaminación, por ello prefiere Reciclar, Reutilizar e Intercambiar atte: Equipo The Galaxys Programmers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="tab3" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Ingresa tu correo para que te mantengamos actualizado</p>
                    <form>
                        <input class="input" type="email" placeholder="Ingresa tu email">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribete</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script type='text/javascript'>

    $(".slider").owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 2000, //2000ms = 2s;
        autoplayHoverPause: true,
    });

</script> -->