<div class="row bg-img-hero">
    <div class="container">
        <div class="row" style="padding: 50px;">
            <div class="col-12 col-xl-6 pr-4 mb-4">
                <img src="https://cdn.digital.gob.cl/filer_public/d6/8e/d68e2515-80e9-4706-8950-0b8322eb7568/logo-hero.png" alt="logo plan de accion coronavirus covid-19" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-12 col-xl-6 pr-4">
                <h2>#NosCuidamosTodos<br><b>Reliza los trueques con todas las medias de proteccion para evitar contagios.</b></h2>
            </div>
        </div>
    </div>
</div>
<nav class="class=navbar navbar-expand-lg">
    <div class="container">
        <div id="responsive-nav">
            <ul class="main-nav nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#tab1">Recientemente agregado</a></li>
                <li><a href="#tab2">Acerca de Nosotros</a></li>
                <li><a href="#tab3">Subscribete</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container ">
    <div class="row">
        <div class="col-md-4 ">
            <div class="shop">
                <div class="shop-img">
                    <img src="./assets/notebook.jpg" alt="imagen" class="img-thumbnail">
                </div>
                <div class="shop-body">
                    <h3>Tecnologia</h3>
                    <a href="#" class="cta-btn">Ingresa Aqui <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="shop">
                <div class="shop-img">
                    <img src="./assets/hogar.jpg" alt="imagen" class="img-thumbnail">
                </div>
                <div class="shop-body">
                    <h3>Hogar y <br>Accesorios</h3>
                    <a href="#" class="cta-btn">Ingresa Aqui <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="shop">
                <div class="shop-img">
                    <img src="./assets/Lineablanca.jpg" alt="imagen" class="img-thumbnail">
                </div>
                <div class="shop-body">
                    <h3>Electrodomesticos</h3>
                    <a href="#" class="cta-btn">Ingresa Aqui<i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h1 id="tab1" class="tab-pane active">Recientemente agregado</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="col-sm">
                            <div class="products-tabs">
                                <div id="tab1" class="tab-pane active">
                                    <div class="products-slick" data-nav="#slick-nav-1">
                                        <div class="product">
                                            <div class="product-img">
                                                <img src="./assets/Lineablanca.jpg" alt="imagen" class="img-thumbnail">
                                            </div>
                                            <div class="product-body">
                                                
                                                <h3 class="product-name"><a href="#">Secadora en buen estado </a></h3>
                                                <h4><p class="product-name">En buen estado poco uso interesado en cambiar por tecnologia</p></h4>
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="product-btns">
                                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                                                            class="tooltipp">Guardar en favoritos</span></button>
                                                    <button class="add-to-compare"><i class="fa fa-share"></i><span
                                                            class="tooltipp">add to
                                                            compare</span></button>
                                                    <button class="quick-view"><i class="fa fa-eye"></i><span
                                                            class="tooltipp">quick view</span></button>
                                                </div>
                                            </div>
                                            <div class="add-to-cart">
                                                <button class="add-to-cart-btn"><i class="fa fa-exchange"></i> Permutar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="col-sm">
                            <div class="products-tabs">
                                <div id="tab1" class="tab-pane active">
                                    <div class="products-slick" data-nav="#slick-nav-1">
                                        <div class="product">
                                            <div class="product-img">
                                                <img src="./assets/notebook.jpg" alt="imagen" class="img-thumbnail">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">Notebook  </a></h3>
                                            <h4><p class="product-name">Procesador intel-inside 4 gb de ram algunos detalles esteticos pero nada grave</p></h4>
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="product-btns">
                                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                                                            class="tooltipp">Guardar en favoritos</span></button>
                                                    <button class="add-to-compare"><i class="fa fa-share"></i><span
                                                            class="tooltipp">add to
                                                            compare</span></button>
                                                    <button class="quick-view"><i class="fa fa-eye"></i><span
                                                            class="tooltipp">quick view</span></button>
                                                </div>
                                            </div>
                                            <div class="add-to-cart">
                                                <button class="add-to-cart-btn"><i class="fa fa-exchange"></i> Permutar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="col-sm">
                            <div class="products-tabs">
                                <div id="tab1" class="tab-pane active">
                                    <div class="products-slick" data-nav="#slick-nav-1">
                                        <div class="product">
                                            <div class="product-img">
                                                <img src="./assets/hogar.jpg" alt="imagen" class="img-thumbnail">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">Mueble de cocina </a></h3>
                                                <h4><p class="product-name">En buen estado poco uso se cambia por renovacion y se cambia por algun rack para tv</p></h4>
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="product-btns">
                                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                                                            class="tooltipp">Guardar en favoritos</span></button>
                                                    <button class="add-to-compare"><i class="fa fa-share"></i><span
                                                            class="tooltipp">add to
                                                            compare</span></button>
                                                    <button class="quick-view"><i class="fa fa-eye"></i><span
                                                            class="tooltipp">quick view</span></button>
                                                </div>
                                            </div>
                                            <div class="add-to-cart">
                                                <button class="add-to-cart-btn"><i class="fa fa-exchange"></i> Permutar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="acerca">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1 id="tab2" class="text-monospace text-white">Acerca de nosotros</h1>
                        <hr>
                        <div class="parrafo">
                            <p class="font-italic">Nuestra pagina ofrece un servicio en la que personas pueden
                                anunciar
                                aquellas cosas que ya no les son útiles cambiar por otras. Es una
                                página de anuncios entre personas de todo el pais.
                                Nosotros ofrecemos nuestra plataforma para que usted suba anuncios de aquello que quiere
                                cambiar 
                                otros usuarios pueden ver su anuncio y ponerse en contacto con usted a través del los
                                medios
                                de contactos que deje disponible.
                                De esta forma ustedes acuerdan la forma de intercambiar el producto 
                                nosotros no intervenimos en el proceso ni cobramos nada por el servicio a no ser que
                                usted
                                utilice la opción de juntarse con la persona en un lugar a convenir o algun medio de
                                despacho para evitar contagios con la pandemia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="tab3" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Ingresa tu correo para que te mantengamos actualizado</p>
                    <form>
                        <input class="input" type="email" placeholder="Ingresa tu email">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribete</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>