<div class="container">
    <div class="row">
      <div class="col-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Ingrese producto a trocar</h5>

                <div class="container">
                    <span><i class="fa fa-user bigicon"></i> Nombre del producto</span>
                    <div class="col-12">
                        <input id="fname" name="name" type="text" placeholder="Nombre" class="form-control" >
                    </div>
                </div>
                <br />
                <div class="container">
                    <h5 class="card-title">Descripcion</h5>
                    <span><i class="fa fa-user bigicon"></i>Categoria</span>
                    <div class="col-12">
                        <input id="lname" name="name" type="text" placeholder="Apellido" class="form-control" >
                    </div>
                </div>
                <br />
                <div class="container">
                    <span><i class="fa fa-phone-square bigicon"> Uso</i></span>
                    <div class="col-12">
                        <input id="phone" name="phone" type="text" placeholder="Telefono" class="form-control" >
                    </div>
                </div>
                <br />
                <div class="container">
                    <span><i class="fa fa-envelope-o bigicon"> Ubicacion Aproximada</i></span>
                    <div class="col-12">
                        <input name="email" type="text" placeholder="Email" class="form-control" >
                    </div>
                </div>
                <br />
                <div class="container">
                    <span><i class="fa fa-pencil-square-o bigicon"></i> Valor Refencial</span>
                    <div class="col-12">
                        <input name="password" class="password" placeholder="Contraseña" class="form-control" >
                    </div>
                </div>
                <br />
                <div class="container">
                    <span><i class="fa fa-pencil-square-o bigicon"></i> Valor Refencial</span>
                    <div class="col-12">
                        <input name="password" class="password" placeholder="Contraseña" class="form-control" >
                    </div>
                </div>
                <br />
                
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" >
                    <label class="form-check-label" for="exampleCheck1">Acepta los <a href="#">Terminos y
                            Condiciones</a></label>
                </div>
                <div class="container">
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-outline-danger" >Registrarse</button>
                    </div>
                </div>

            </div>
      </div>
      <div class="col-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <div class="container">
                   
                </div>
               
                </div>

            </div>
      </div>
    </div>
  </div>