<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Ingrese producto a trocar</h3>
                    <div class="alert alert-danger" role="alert">
                        ¡Los datos de los productos necesitan minimo 3 caracteres!
                    </div>
                    <div class="container">
                        <span> Nombre del producto</span>
                        <div class="col-12">
                            <input name="name" type="text" placeholder="Nombre" required [(ngModel)]="nombre"
                                class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="container">
                        <span> Descripcion</span>
                        <div class="col-12">
                            <textarea class="form-control" aria-label="Descripcion" required
                                [(ngModel)]="descripcion"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="container">
                        <div class="col-12">
                            <span>Categoria</span>
                            <select class="form-control" id="categoria" name="categoria" [(ngModel)]="categoria"
                                required>
                                <option value="Tecnologia">Tecnologia</option>
                                <option value="Electrodomesticos">Electrodomesticos</option>
                                <option value="Hogar">Hogar</option>
                                <option value="Deportes">Deportes</option>
                                <option value="Musica">Musica</option>
                                <option value="Vehiculos">Vehiculos</option>
                                <option value="Construccion">Construccion</option>
                                <option value="Belleza y Cuidado Personal">Belleza y Cuidado Personal</option>
                                <option value="Vestuario y Calzado">Vestuario y Calzado</option>
                                <option value="Accesorios">Accesorios</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="container">
                        <div class="col-12">
                            <span>SubCategoria</span>
                            <select class="form-control" id="subcategoria" name="subcategoria"  [(ngModel)]="subcategoria"
                                required>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="container">
                        <span> Uso</span>
                        <div class="col-auto my-1">
                            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="uso"
                                required>
                                <option selected>Seleccione uso...</option>
                                <option value="Ningun Uso">Ningun Uso</option>
                                <option value="Poco Uso">Poco Uso</option>
                                <option value="Medio Uso">Medio Uso</option>
                                <option value="Mucho Uso">Mucho Uso</option>
                                <option value="Inusable">Inusable</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="container">
                        <span> Ubicacion Aproximada</span>
                        <div class="col-12">
                            <div class="form-group input-group">
                                <div class="col-6">
                                    <span> Comuna </span>
                                    <input type="text" class="form-control" [(ngModel)]="comuna" required
                                        placeholder="Comuna">
                                </div>
                                <div class="col-6">
                                    <span> Region </span>
                                    <div class="form-group col-12">
                                        <select class="form-control" [(ngModel)]="region" id="exampleFormControlSelect1"
                                            required [(ngModel)]="region">
                                            <optgroup label="Seleccione una Region">
                                                <option value="Tarapacá" data-id="01">Tarapacá</option>
                                                <option value="Antofagasta" data-id="02">Antofagasta</option>
                                                <option value="Atacama" data-id="03">Atacama</option>
                                                <option value="Coquimbo" data-id="04">Coquimbo</option>
                                                <option value="Valparaíso" data-id="05">Valparaíso</option>
                                                <option value="Del Libertador Gral. Bernardo O’Higgins" data-id="06">Del
                                                    Libertador Gral. Bernardo O’Higgins</option>
                                                <option value="Del Maule" data-id="07">Del Maule</option>
                                                <option value="Del Biobío" data-id="08">Del Biobío</option>
                                                <option value="De la Araucanía" data-id="09">De la Araucanía</option>
                                                <option value="De los Lagos" data-id="10">De los Lagos</option>
                                                <option value="Aysén del Gral. Carlos Ibáñez del Campo" data-id="11">
                                                    Aysén del Gral. Carlos Ibáñez del Campo</option>
                                                <option value="Magallanes y de la Antártica Chilena" data-id="12">
                                                    Magallanes y de la Antártica Chilena</option>
                                                <option value="Metropolitana de Santiago" data-id="13">Metropolitana de
                                                    Santiago</option>
                                                <option value="De los Ríos" data-id="14">De los Ríos</option>
                                                <option value="Arica y Parinacota" data-id="15">Arica y Parinacota
                                                </option>
                                                <option value="Ñuble" data-id="16">Ñuble</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="container">
                        <span> Valor Refencial</span>
                        <div class="col-12">
                            <input [(ngModel)]="valorReferencial" required name="precio" class="number"
                                placeholder="Valor" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="container">
                        <span> Fecha de publicacion</span>
                        <div class="col-12">
                            <input name="Fecha" class="date" placeholder="" required class="form-control"
                                readonly="readonly" value={{Fecha}}>
                        </div>
                    </div>
                    <br />
                    <div class="container">
                        <span>Subir Imagen </span>
                        <input type="file" accept="image/*" required (change)="changeListener($event)"
                            [(ngModel)]="imagen">
                    </div>
                    <br />
                    <div class="col-12 text-center">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="check">
                            <label class="form-check-label" for="exampleCheck1">Acepta los <a
                                    href="https://drive.google.com/file/d/1oTj_LRM-qwty72ojU-S8UZakP-X7q84h/view?usp=sharing"
                                    target="_blank">Terminos y
                                    Condiciones</a></label>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-12 text-right">
                            <button type="button" class="btn btn-outline-danger" (click)="trocar()">TROCAR</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-6">


            <div class="container" id="imagender">
                <img src="https://lh3.googleusercontent.com/-arS7xS4j1Fk/X3yE4qaKHiI/AAAAAAAAKT4/UiXAATfJFPQKv-3PZYCstTBs8IMmdSlNQCNcBGAsYHQ/39BB3DE03F884CE0B4286A927E23A689.png" style="border-radius: 5px 5px 5px 5px;" alt="imagen" class="png" />
            </div>


        </div>
    </div>


</div>
<br />
