<head>

</head>

<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> (+56)9 556 798 69 </a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> lostruequegalaxia@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 420 Galaxy</a></li>
            </ul>
            <ul *ngIf="show2" class="header-links pull-right">
                <li><a routerLink="Error"> Error</a></li>
                <li><a routerLink="Perfil"> Mi Perfil</a></li>
                <li><a routerLink="RegistroUsuario"><i class="fa fa-angellist"></i> Registrate</a></li>
                <li><a routerLink="MenuProductos">Menu Productos</a></li>
                <li><a routerLink="Producto">Producto</a></li>
                <li><a routerLink="IngresoProducto">Ingrese Producto</a></li>
                <li><a routerLink="Report">Reportar</a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->



    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-2">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="../assets/logoo.png" alt="imagen" class="png" width="70px">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-7">
                    
                    <div class="header-search" style="margin-right: -100px;">
                        <button class="boton" >Categorias </button>
                            <select class="input-select" style="margin-left: 77px; border-radius: 0px 0px 0px 0px; width: 193px;" (click)="selectCat()"[(ngModel)]="Categoria" >
                                <option value="Tecnologia">Tecnologia</option>
                                <option value="Electrodomesticos">Electrodomesticos</option>
                                <option value="Hogar">Hogar</option>
                                <option value="Deportes">Deportes</option>
                                <option value="Musica">Musica</option>
                                <option value="Vehiculos">Vehiculos</option>
                                <option value="Accesorios">Accesorios</option>
                                <option value="Vestuario y Calzado">Vestuario y Calzado</option>
                                <option value="Belleza y Cuidado Personal">Belleza y Cuidado Personal</option>
                                <option value="Construccion">Construccion</option>
                            </select>
                            <input class="input" placeholder="Buscar aqui"  [(ngModel)]="buscador" >
                            <button class="search-btn" style="border-radius: 0px 40px 40px 0px;" (click)="busqueda()" >Buscar</button>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div (click)="ir()">
                            <a class="letraaa">
                                <i class="fa fa-heart-o"></i>
                                <span>Favoritos</span>
                                <div class="qty">{{countFav}}</div>
                            </a>
                        </div>
                        <!-- /Wishlist -->
                        <div>
                            <!-- routerLink="Perfil" -->
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user-o"></i>
                                <span>Mi Cuenta</span>
                                <div class="dropdown-menu" style="text-align: center;">
                                    <a> <span> - Bienvenid@ {{nomUser}} - </span> </a>
                                    <a (click)="ir()" class="dropdown-item "><span class="btn btn-outline-danger"> - Ir a tu Cuenta -</span></a>
                                    <a (click)="cerrar()" class="dropdown-item"><span class="btn btn-outline-warning"> - Cerrar sesion - </span></a>
                                    <div class="dropdown-divider"></div>
                                    <a routerLink="RegistroUsuario"> <span class="btn btn-outline-dark"> - Registrarse - </span> </a>
                                    
                                </div>
                            </a>
                        </div>

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->


</header>
<!-- /HEADER -->








<router-outlet></router-outlet>











<!--FOOTER-->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Sobre nosotros</h3>
                        <p>No lo usas cambialo</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>420 Galaxy</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>(+56)9 556 798 69</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>lostruequegalaxia@gmail.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Categorias</h3>
                        <ul class="footer-links">
                            <li><a (click)="tecnologia()">Tecnologia</a></li>
                            <li><a (click)="electro()"> Electrodomesticos</a></li>
                            <li><a (click)="hogar()">Hogar</a></li>
                            <li><a (click)="deportes()">Deportes</a></li>
                            <li><a (click)="musica()">Musica</a></li>
                            <li><a (click)="vehiculos()">Vehiculos</a></li>
                            <li><a (click)="accesorios()">Accesorios</a></li>
                            <li><a (click)="vestuario()">Vestuario y calzado</a></li>
                            <li><a (click)="belleza()">Belleza Y cuidado personal</a></li>
                            <li><a (click)="const()">Construccion</a></li>
                            
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Informacion</h3>
                        <ul class="footer-links">
                            <li><a href="/#tab2">Sobre Nosotros</a></li>
                            <li><a href="/#tab3">Contacto</a></li>
                            <li><a href="https://drive.google.com/file/d/1a3UMnKvXI7j1vgv8eNEAPknIzvUuIgPR/view?usp=sharing" target="_blank">Politicas Privacidad</a></li>
                            <li><a href="https://drive.google.com/file/d/17tbMpfng_4i_EEks8F7ARmb4aL_UoQ9Y/view?usp=sharing" target="_blank">Acuerdo del Permutador</a></li>
                            <li><a href="https://drive.google.com/file/d/1oTj_LRM-qwty72ojU-S8UZakP-X7q84h/view?usp=sharing" target="_blank">Terminos y Condiciones</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Servicios</h3>
                        <ul class="footer-links">
                            <li><a href="Perfil">Mi Cuenta</a></li>
                            <li><a href="Perfil">Trueques</a></li>
                            <li><a href="Perfil">Favoritos</a></li>
                            <li><a href="Report">Ayuda</a></li>
                            <li><a href="Report">Denunciar Trocador</a></li>
                            <li><a href="DesSub">Cancelar Suscripcion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <i class="fa fa-heart-o" aria-hidden="true"></i> Copyright &copy; {{Fecha}} All rights reserved
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>

                    <img src="../assets/logoo.png" alt="imagen" class="png" width="100px">



                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>