<head>
    
</head>

<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> (+56)9 556 798 69 </a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> lostruequegalaxia@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 420 Galaxy</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a routerLink="Error"> Error</a></li>
                <li><a routerLink="Perfil"> Mi Perfil</a></li>
                <li><a routerLink="RegistroUsuario"><i class="fa fa-angellist"></i> Registrate</a></li>
                <li><a routerLink="MenuProductos">Menu Productos</a></li>
                <li><a routerLink="Producto">Producto</a></li>
                <li><a routerLink="IngresoProducto">Ingrese Producto</a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="../assets/logoo.png" alt="imagen" class="png" width="70px">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form>
                            <select class="input-select">
                                <option>Categorias</option>
                                <option>Tecnologia</option>
                                <option>Electrodomesticos</option>
                                <option>Hogar</option>
                                <option>Deportes</option>
                                <option>Musica</option>
                                <option>Vehiculos</option>
                                <option>Accesorios</option>
                            </select>
                            <input class="input" placeholder="Search here">
                            <button class="search-btn">Buscar</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div>
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span>Favoritos</span>
                                <div class="qty">5</div>
                            </a>
                        </div>
                        <!-- /Wishlist -->
                        <div>
                            <a routerLink="Perfil">
                                <i class="fa fa-user-o"></i>
                                <span >Mi Cuenta</span>
                            </a>
                        </div>

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->








<router-outlet></router-outlet>











<!--FOOTER-->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Sobre nosotros</h3>
                        <p>No lo usas cambialo</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>420 Galaxy</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>(+56)9 556 798 69</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>lostruequegalaxia@gmail.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Categorias</h3>
                        <ul class="footer-links">
                            <li><a href="#">Tecnologia</a></li>
                            <li><a href="#"> Electrodomesticos</a></li>
                            <li><a href="#">Smartphones</a></li>
                            <li><a href="#">Deportes</a></li>
                            <li><a href="#">Musica</a></li>
                            <li><a href="#">Vehiculos</a></li>
                            <li><a href="#">Accesorios</a></li>
                            <li><a href="#">Hogar</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Informacion</h3>
                        <ul class="footer-links">
                            <li><a href="#">Sobre Nosotros</a></li>
                            <li><a href="#">Contaco</a></li>
                            <li><a href="#">Politicas Privacidad</a></li>
                            <li><a href="#">Acuerdo del Permutador</a></li>
                            <li><a href="#">Terminos y Condiciones</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Servicios</h3>
                        <ul class="footer-links">
                            <li><a href="#">Mi Cuenta</a></li>
                            <li><a href="#">Trueques</a></li>
                            <li><a href="#">Favoritos</a></li>
                            <li><a href="#">Ayuda</a></li>
                            <li><a href="#">Denunciar Trocador</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <i class="fa fa-heart-o" aria-hidden="true"></i> Copyright &copy; {{Fecha}} All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>

                    <img src="../assets/logoo.png" alt="imagen" class="png" width="100px">
                    


                </div>
            </div>
                <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
