 
  .header-search {
    padding: 15px 0px;
  }
  
  .header-search  {
    position: relative;
  }
  
  .header-search  .input-select {
    margin-right: -3px;
    margin-top: 1px;
    border-radius: 40px 0px 0px 40px;
  }
  
  .header-search  .input {
    width: calc(100% - 390px);
    margin-right: -4px;
  }
  
  .header-search  .search-btn {
    height: 40px;
    width: 89px;
    margin-right: -107px;
    margin-top: 7px;
    background: #3f78c3;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 0px 0px 0px 0px;
  }
 .boton{
  height: 40px;
  width: 89px;
  margin-left: -22px;
  margin-right: -78px;
  background: #3f78c3;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 40px 0px 0px 40px;
 }
 th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 24px;
  padding-right: 24px;
}
.letraaa{
    color: white;
}
.letraaa:hover{
    color:white;
  }
  
.letraaa:active{
    color: white;
  }
