<head>

</head>

<body>

    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li><a href="#">Inicio</a>
                        <li class="active">Mas Populares</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Categorias</h3>
                        <div class="checkbox-filter">

                            <div class="input-checkbox">
                                <input type="checkbox" id="categoria-1">
                                <label for="categoria-1">
                                    <span></span>
                                    Notebook
                                    <small>(aun no se sabe)</small>
                                </label>
                            </div>

                            <div class="input-checkbox">
                                <input type="checkbox" id="categoria-2">
                                <label for="categoria-2">
                                    <span></span>
                                    Celulares
                                    <small>(aun no se sabe)</small>
                                </label>
                            </div>

                            <div class="input-checkbox">
                                <input type="checkbox" id="categoria-3">
                                <label for="categoria-3">
                                    <span></span>
                                    Camaras
                                    <small>(aun no se sabe)</small>
                                </label>
                            </div>

                            <div class="input-checkbox">
                                <input type="checkbox" id="categoria-4">
                                <label for="categoria-4">
                                    <span></span>
                                    Accesorios
                                    <small>(aun no se sabe)</small>
                                </label>
                            </div>

                            <div class="input-checkbox">
                                <input type="checkbox" id="categoria-5">
                                <label for="categoria-5">
                                    <span></span>
                                    Audifonos
                                    <small>(aun no se sabe)</small>
                                </label>
                            </div>

                            <div class="input-checkbox">
                                <input type="checkbox" id="category-6">
                                <label for="category-6">
                                    <span></span>
                                    Televisores
                                    <small>(aun no se sabe)</small>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->
                    <div class="aside">

                        <h3 class="aside-title">Visitas</h3>
                        <div class="price-filter">
                            <a href="https://www.contadorvisitasgratis.com" title="contador de visitas online"><img
                                    src="https://counter3.stat.ovh/private/contadorvisitasgratis.php?c=j3ktdtw5ezjm1twebze1mcq58ey91w51"
                                    border="0" title="contador de visitas online" alt="contador de visitas online"></a>
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Marcas</h3>
                        <div class="checkbox-filter">
                            <div class="input-checkbox">
                                <input type="checkbox" id="marca-1">
                                <label for="marca-1">
                                    <span></span>
                                    SAMSUNG
                                    <small>(por ahora nada)</small>
                                </label>
                            </div>
                            <div class="input-checkbox">
                                <input type="checkbox" id="marca-2">
                                <label for="marca-2">
                                    <span></span>
                                    LG
                                    <small>(por ahora nada)</small>
                                </label>
                            </div>
                            <div class="input-checkbox">
                                <input type="checkbox" id="marca-3">
                                <label for="marca-3">
                                    <span></span>
                                    SONY
                                    <small>(por ahora nada)</small>
                                </label>
                            </div>
                            <div class="input-checkbox">
                                <input type="checkbox" id="marca-4">
                                <label for="marca-4">
                                    <span></span>
                                    APPLE
                                    <small>(por ahora nada)</small>
                                </label>
                            </div>
                            <div class="input-checkbox">
                                <input type="checkbox" id="marca-5">
                                <label for="marca-5">
                                    <span></span>
                                    LG
                                    <small>(por ahora nada)</small>
                                </label>
                            </div>
                            <div class="input-checkbox">
                                <input type="checkbox" id="marca-6">
                                <label for="marca-6">
                                    <span></span>
                                    SONY
                                    <small>(por ahora nada)</small>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- mas vendidos -->
                    <div class="aside">
                        <h3 class="aside-title">Mas Recientes</h3>
                        <div>
                            <div class="product-img">
                                <img src="http://localhost:4200/assets/Lineablanca.jpg" alt=""
                                    style="max-width:100%;width:auto;height:auto;">
                            </div>
                            <div class="product-body">

                                <p class="product-category"><small>Electrodomesticos</small></p>
                                <h3 class="product-name"><a href="#"> <strong> Secadora en buen estado</strong> Permuto
                                        por Tecnologia <small>(Usado)</small></a></h3>
                                <h4 class="product-price"> <del class="product-old-price"></del></h4>
                            </div>
                            <br>
                            <br>
                        </div>

                        <div>
                            <div class="product-img">
                                <img src="http://localhost:4200/assets/notebook.jpg" alt=""
                                    style="max-width:100%;width:auto;height:auto;">
                            </div>
                            <div class="product-body">
                                <p class="product-category"><small>Notebook</small></p>
                                <h3 class="product-name"><a href="#">Procesador Intel-Inside 4Gb RAM Detalles Esteticos
                                        <small>(Usado)</small></a></h3>
                                <h4 class="product-price"><del class="product-old-price"></del></h4>
                            </div>
                            <br>
                            <br>
                        </div>

                        <div>
                            <div class="product-img">
                                <img src="http://localhost:4200/assets/hogar.jpg" alt=""
                                    style="max-width:100%;width:auto;height:auto;">
                            </div>
                            <div class="product-body">
                                <p class="product-category"><small>Hogar</small></p>
                                <h3 class="product-name"><a href="http://localhost:4200/Producto">Mueble de cocina - Se
                                        cambia por Rack para TV
                                        <small>(Usado)</small></a></h3>
                                <h4 class="product-price"> <del class="product-old-price"></del></h4>
                            </div>

                        </div>
                    </div>
                    <!-- /mas vendidos -->
                </div>
                <!-- /ASIDE -->

                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            <label>
                                Ordenar por:
                                <select class="input-select">
                                    <option value="0">Popular</option>

                                </select>
                            </label>

                            <label>
                                Mostrar:
                                <select class="input-select">
                                    <option value="0">12</option>

                                </select>
                            </label>
                        </div>
                        <ul class="store-grid">
                            <li class="active"><i class="fa fa-th"></i></li>
                            <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                        </ul>
                    </div>
                    <!-- /store top filter -->

                    <!-- menu productos -->
                    <div class="row">
                        <!-- product -->
                        <div class="col-md-4 col-xs-6" *ngFor='let producto of listaProductos'> 
                            <div class="product">
                                <div class="product-img">
                                    <img src={{producto.imagen}}
                                        alt="">

                                </div>
                                <div class="product-body">
                                    <p class="product-category">{{producto.subcategoria}}</p>
                                    <h3 class="product-name"><a href="#">{{producto.nombre}}
                                            <small>{{producto.uso}}</small></a></h3>
                                    <h6 class="product-description">{{producto.descripcion}}</h6>
                                    <h4 class="product-price"> {{producto.valorReferencia}}<del class="product-old-price"></del></h4>

                                    <div class="product-btns">
                                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                                                class="tooltipp">Agregar a la lista</span></button>
                                        <button class="add-to-compare"><i class="fa fa-share"></i><span
                                                class="tooltipp">Compartir</span></button>
                                        <button class="quick-view"><i class="fa fa-eye"></i><span
                                                class="tooltipp">Ver</span></button>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn"><i class="fa fa-exchange" click=({{producto.idP}})></i> Permutar</button>
                                </div>
                            </div>
                        </div>
                        <!-- /product -->



                        <div class="clearfix visible-sm visible-xs"></div>


                    </div>
                    <!-- /store products -->

                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- store bottom filter -->
    <div class="barritaNumeracion">
        <div class="store-filter clearfix">
            <span class="store-qty">Productos con derechos reservados</span>
            <ul class="store-pagination">
                <li class="active">1</li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5 <i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- /store bottom filter -->

    <!-- NEWSLETTER -->
    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Regístrese para <strong>recibir</strong> el <strong>BOLETÍN</strong></p>
                        <form>
                            <input class="input" type="email" placeholder="Ingresa tu Email">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                        </form>
                        <ul class="newsletter-follow">
                            <li>
                                <a href="https://www.facebook.com/" type="button"
                                    class="btn btn-social-icon  btn-facebook ">
                                    <span class="fa fa-facebook"> </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" class="btn btn-social-icon  btn-twitter ">
                                    <span class="fa fa-twitter"> </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" class="btn btn-social-icon  btn-instagram ">
                                    <span class="fa fa-instagram"> </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com/" class="btn btn-social-icon  btn-pinterest ">
                                    <span class="fa fa-pinterest"> </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>