<head>

</head>

<body>

    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li><a href="#">Inicio</a>
                        <li class="active">Mas Populares</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">
                    <!-- aside Widget -->

                    <!-- /aside Widget -->

                    <!-- aside Widget -->
                    <div class="aside">

                        <h3 class="aside-title">Visitas</h3>
                        <div class="price-filter">
                            <a href="https://www.contadorvisitasgratis.com"
                                title="contador de visitas para mi pagina web gratis">
                                <img src="https://counter11.stat.ovh/private/contadorvisitasgratis.php?c=dxdz9lc6w3g2f7uz995b8c8g1yltygns"
                                    border="0" title="contador de visitas para mi pagina web gratis"
                                    alt="contador de visitas para mi pagina web gratis"></a>
                        </div>
                    </div>
                    <!-- /aside Widget -->



                    <!-- mas vendidos -->
                    <div class="aside" *ngFor='let topProductos of topListaProductos'>
                        <h3 class="aside-title">Mas Recientes</h3>
                        <div>
                            <div class="product-img">
                                <img src={{topProductos.imagen}} alt="" [routerLink]="'/Producto'"
                                    (click)="select(topProductos.idP)" style="max-width:100%;width:auto;height:auto;">
                            </div>
                            <div class="product-body">

                                <p class="product-category"><small>{{topProductos.categoria}}</small></p>
                                <h3 class="product-name"><a> <strong>{{topProductos.nombre}}</strong>
                                        {{topProductos.descripcion}} <small>{{topProductos.valorReferencia}}</small></a>
                                </h3>
                                <h4 class="product-price"> <del class="product-old-price"></del></h4>

                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                    <!-- /mas vendidos -->
                </div>

                <!-- /ASIDE -->

                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store top filter -->

                    <!-- /store top filter -->

                    <!-- menu productos -->
                    <div class="row">
                        <!-- product -->
                        <div *ngIf="showA"><i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                            <span class="sr-only">Loading...</span></div>
                        <div class="col-md-4 col-xs-6" *ngFor='let producto of listaProductos'>
                            <div class="product">
                                <div class="product-img">
                                    <img src={{producto.imagen}} alt="">

                                </div>
                                <div class="product-body">
                                    <p class="product-category">{{producto.subcategoria}}</p>
                                    <h3 class="product-name"><a>{{producto.nombre}}
                                            <small>{{producto.uso}}</small></a></h3>
                                    <h3 class="product-description">{{producto.descripcion}}</h3>
                                    <h6 class="product-price"> {{producto.valorReferencia}} <small> Precio Ref:</small>
                                    </h6>

                                    <div *ngIf="showH" class="product-btns">
                                        <button (click)=corazon(producto.idP); class="add-to-wishlist"><i
                                                class="fa fa-heart-o"></i><span class="tooltipp">Agregar a la
                                                lista</span></button>

                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn" [routerLink]="'/Producto'"
                                        (click)="select(producto.idP)"><i class="fa fa-exchange"></i> Permutar</button>
                                </div>
                            </div>
                        </div>
                        <!-- /product -->



                        <div class="clearfix visible-sm visible-xs"></div>


                    </div>
                    <!-- /store products -->

                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->


    <!-- /store bottom filter -->

    <!-- NEWSLETTER -->