<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="newsletter">
                <p>Lamentamos que te vayas... te estaremos esperando :)</p>
                <br/>
                
                    <input class="input" type="email" placeholder="Ingresa tu email" [(ngModel)]="correo">
                   <br/><br/>
                    <button class="newsletter-btn" (click)="borrar()"><i class="fa fa-envelope"></i> Cancelar Suscripcion</button>
               <br/>
            </div>
        </div>
    </div>
</div>
<br />